/* add home page styles here */
.movieBox {
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.candies-one {
    display: flex;

}

.video-two div {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 12px 9px 23px 21px rgba(0,0,0,0.75);
}

.cars-three {
border: 1px solid green;
}

